
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"> All Courses Of Edule</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="ui blue basic button" type="submit">Search</button>
    </form>
  </div>



  <img src="src\assets\img\home.jpg" class="rounded mx-auto d-block" alt="...">



  <button type="button" class="btn btn-primary" data-bs-toggle="button">Start Courses</button>
</nav>